@import "tailwindcss";

@theme {
  --color-primary: #e91e63;
  --color-secondary: #8e24aa;
  --color-accent: #ff4f9a;
  --color-dark: #14213d;
  --color-background: #fff5f8;
  --color-muted: #777777;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-dark);
  }
}
